/*__MAIN__*/
.sect-1{
	padding: 100px 20px 30px 20px;
	transition: 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("img/blend_ui.png");
	background-size: cover;
	background-position: center;
	text-align: center;
 
}

.sect-1:hover{
	background-image: url("img/blend_ui.png");
	background-size: cover;
	background-position: center;
}

.nav-bar {
	transition: 0.25s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar img {
    height: auto;
    max-width: 50px;
    filter: invert(100%);
}

.nav-bar.scrolled {
    background: rgba(0, 0, 0, 1); /* Full opacity */
}

body{
	background: #0e0e0e;
	color: #ffffff;
	margin: 0px;
	font-family: Gilroy;
	overflow-x: hidden;
}

a{
	color: #0096FF;
	transition: 0.25s;
	text-decoration-color: rgba(0,150,255, 1.0);
}

a:hover{
	text-decoration: none;
	text-shadow: 0px 0px 5px;
	text-decoration-color: transparent;
}

button{
	color: black;
	background: rgba(241, 196, 15, 1.0);
	padding: 10px;
}

button:hover{
	color: black;
	background: rgba(241, 196, 15, 0.75);
}

button:active{
	color: rgba(241, 196, 15, 1.0);
	background: black;
}

.recc{
	border-style: solid;
	border-color: transparent;
	margin: 20px;
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
	transition: 0.25s;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	line-height: 3px;
}

.recc h3{
	font-size: 2em;
	margin: 30px 0 20px 0px;
}

.recc:hover{
	border-radius: 20px;
	border-style: solid;
	border-color: white;
}

.recc button{
	margin-left:  30%;
	margin-right: 30%;
}

.rec-round{
	background: orange;
	border: clamp(0, 0, 0);
	border-color: orangered;
	border-style: solid;
	border-radius: 100px;
	margin-right: auto;
	padding: 10px;
}

section{
	transition: 0.25s;
	padding-top: 10px;
	padding-bottom: 10px;
}

section:hover{
	background: rgba(10, 10, 15, 1.0);
}

section h2{
	text-align: center;
	font-size: 2rem;
	margin-top: 6px;
}

.sect-1 h1{
	font-size: 3em;
	margin: 0px;
}

.sect-2{
}

.sect-3_p{
	text-align: center;
	margin-right: 10rem;
	margin-left: 10rem;
}

.join-discord{
	display: flex;
	justify-content: center;
}

.upbge-discord, .range-discord{
	margin-right: 10px;
	margin-left: 10px;
	padding: 20px;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	display: flex;
	flex-direction: column;
	max-width: 25%;
}

.upbge-discord, .range-discord img{
	justify-content: center;
	max-width: 10rem;
}

.upbge-discord, .range-discord h5{
	font-size: 1.25rem;
	text-align: center;
}


/*makes site RESPONISVE*/
@media (max-width: 768px){
	.recc{
		margin: 20px;
		padding: 20px;
		margin-left: 7%;
		margin-right: 7%;
	}
	.recc p{
		line-height: 1.5rem;
	}
	.sect-3_p{
		margin-right: 1.25rem;
		margin-left: 1.25rem;
	}
	.join-discord{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.upbge-discord, .range-discord{
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.upbge-discord, .range-discord img{
		justify-content: center;
		max-width: 5.5em;
	}
	body{
		width: auto;
	}
}