@font-face{
	font-family: merri;
	src: url('MerriweatherSans-VariableFont_wght.ttf') format('truetype');
}

body{
	background: #121212;
	font-family: 'merri', sans-serif;
	color: whitesmoke;
	margin: 0px;
}

figure{
	display: flex;
	flex-direction: column;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	padding: 5px;
/*	margin-top: auto;*/
/*	margin: auto;*/
}

figure img{
	border-radius: 0px;
}

figcaption{
	background: black;
	color: whitesmoke;
	padding: 2px;
	text-align: center;
}

pre{
	background: whitesmoke;
	font-size: 1rem;
	display: flex;
	overflow-x: scroll;
	border-radius: 5px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	color: black;
}

h1{
	position: relative;
	font-size: 3rem;
}

h3{
	font-size: 2rem;
	margin-bottom: -10px;
}

h5{
	padding-top: 20px;
	margin-bottom: -5px;
	text-transform: uppercase;
	color: #03dac6;
}

h1, h3, h5, p, ul{
	margin-left: 10%;
	margin-right: 10%;
}

p{
	line-height: 1.5rem;
}

em{
	padding-right: 3px;
}

u:hover, em:hover{
	text-shadow: 0px 0px 10px coral;
}

u::selection, em::selection{
	background-color: #03dac6;
	color: black;
}

.mono{
	color: whitesmoke;
	font-family: monospace;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 5px;
	padding-right: 5px;
	background: #363636;
	margin-right: 2px;
}

a{
	color: springgreen;
	transition: 0.25s;
}

a:hover{
	text-shadow: 0px 0px 15px springgreen;
}